.initializing {
    animation: initializing-spin infinite 2s linear;
    pointer-events: none;
}

@keyframes initializing-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }