body {
  margin: 0;
  background-color: #efefef
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  text-align: center;
}

#root {
  padding-bottom: 16px;
}

.bg-midnight {
  background-color: #262A2F
}

.bg-midnight-content {
  background-color: #efefef
}